:root {
    --light_cyan: rgb(218, 245, 255);
    --electric_blue: rgb(135, 246, 255);
    --aquamarine: rgb(68, 255, 210);
    --dim_gray: rgb(97, 97, 99);
    --primary_bg_color: var(--light_cyan);
    --secondary_bg_color: var(--electric_blue);
    --terinary_bg_color: var(--aquamarine);
    --primary_txt_color: black;
    --border-radius: 15px;
}

@keyframes fadein {
  100% { opacity: 1 }
}

#main_div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main_header {
    height: fit-content;
    background-color: var(--secondary_bg_color);
    color: var(--primary_txt_color);
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_a {
    border: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    color: black;
}

.header_a:hover {
    cursor: pointer;
}

#main_title {
    font-size: 45px;
    font-weight: 500;
}

#main_nav_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#main_nav_div a {
    text-decoration: none;
    color: black;
}

#main_body {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadein 1s linear forwards;
}

.top_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_body_div {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    gap: 1rem;
    padding-top: 1rem;
}

.home_current_page_title {
    padding: 1rem;
}

.home_p_description {
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: x-large;
}

.home_todo_div {
    background-color: var(--primary_bg_color);
    border-radius: calc(var(--border-radius)/2);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.todo_id_input, .fetch_todo_button {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
}

.todo_id_input {
    text-align: center;
}

.fetch_todo_button {
    background-color: white;
}

.fetch_todo_button:hover {
    cursor: pointer;
}

.home_display_todos_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_display_todos_h1 {
    font-size: 1000;
    padding: 3.78rem;
}

.home_retrieve_todo_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo_card_div {
    background-color: var(--secondary_bg_color);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    animation: fadein 1s linear forwards;
}

.todo_completed_div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#main_footer {
    height: fit-content;
    background-color: var(--primary_bg_color);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
